<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="false" class="">
  <ion-card class="bg-transparent mx-0 mt-0 mb-6">
    <ion-card-header class="p-0">
      <ion-item lines="none" class="p-0">
        <ion-label class="p-0 m-0">
          <h2 class="text-xl">Split Name</h2>
        </ion-label>
        <ion-icon
          [id]="'popover-trigger-'"
          name="ellipsis-vertical"
          class="more-icon relative right-[-5px] text-base"
        ></ion-icon>
        <ion-popover
          [trigger]="'popover-trigger-'"
          triggerAction="click"
          side="bottom"
          alignment="end"
        >
          <ng-template>
            <ion-content class="">
              <ion-item button>
                <ion-label> Edit </ion-label>
              </ion-item>
              <ion-item button>
                <ion-label id="delteSplit" color="danger">Delete</ion-label>
                <ion-alert
                  trigger="delteSplit"
                  header="Are you sure ?"
                ></ion-alert>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-card-header>
    <div class="top-[-15px]">
      <div class="flex p-0">
        <ion-item class="p-0 w-[95px] mb-4">
          <ion-input [readonly]="true" labelPlacement="stacked" value="9999 kg">
            <div slot="label"><ion-text color="medium">Volume</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item class="w-[95px]">
          <ion-input
            id="one"
            [readonly]="true"
            label="Sets"
            labelPlacement="stacked"
            value="22"
          ></ion-input>
        </ion-item>
      </div>
      <div *ngFor="let item of [1, 2, 3]; let i = index" [ngClass]="{'bg-slate-900': i % 2 !== 0 }" class="inputContainer h-[80px] flex justify-around items-center">
        <ion-item class="flex items-center">
          <ion-thumbnail slot="start" class="circle-thumb">
            <img [src]="'./assets/exercises/pushup.png'" alt="" />
          </ion-thumbnail>
          <ion-label class="text-base"> Exercise Name </ion-label>
        </ion-item>
      </div>
    </div>
  </ion-card>
  <ion-list [inset]="true">
    <ion-item [button]="true">
      <ion-icon
        color="danger"
        slot="start"
        name="list-circle"
        size="large"
      ></ion-icon>
      <ion-label>General</ion-label>
      <ion-note slot="end">6</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <ion-icon
        color="tertiary"
        slot="start"
        name="list-circle"
        size="large"
      ></ion-icon>
      <ion-label>Shopping</ion-label>
      <ion-note slot="end">15</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <ion-icon
        color="success"
        slot="start"
        name="list-circle"
        size="large"
      ></ion-icon>
      <ion-label>Cleaning</ion-label>
      <ion-note slot="end">3</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <ion-icon
        color="warning"
        slot="start"
        name="list-circle"
        size="large"
      ></ion-icon>
      <ion-label>Reminders</ion-label>
      <ion-note slot="end">8</ion-note>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content color="light">
  <ion-list [inset]="true" *ngFor="let session of workoutSessions; let i = index">
    <!-- Header - Split Name & Menu Icon -->
    <ion-item lines="full" class="p-0">
      <ion-label class="p-0 m-0 mt-2">
        <h2 class="text-xl"><strong>{{ session.split.splitName }}</strong></h2>
        <ion-text class="text-sm relative top-[-2px]" color="medium">{{ session.startTime | date: 'dd MMMM yy' }}</ion-text>
      </ion-label>
      <ion-icon
        [id]="'popover-trigger-'"
        name="ellipsis-vertical"
        class="more-icon relative right-[-5px] top-[-5px] text-[20px]"
      ></ion-icon>
      <ion-popover
        [trigger]="'popover-trigger-'"
        triggerAction="click"
        side="bottom"
        alignment="end"
      >
        <ng-template>
          <ion-content class="">
            <ion-item button>
              <ion-label> Edit </ion-label>
            </ion-item>
            <ion-item button>
              <ion-label id="delteSplit" color="danger">Delete</ion-label>
              <ion-alert
                trigger="delteSplit"
                header="Are you sure ?"
              ></ion-alert>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <!-- Volumt & Sets -->
    <ion-item class="top-[-8px]" lines="inset">
      <div class="w-[95px]">
        <ion-input
          [readonly]="true"
          labelPlacement="stacked"
          value="999kg"
        >
          <div slot="label"><ion-text color="medium">Volume</ion-text></div>
        </ion-input>
      </div>
      <div class="w-[95px]">
        <ion-input
          [readonly]="true"
          labelPlacement="stacked"
          value="22"
        >
          <div slot="label"><ion-text color="medium">Sets</ion-text></div>
        </ion-input>
      </div>
    </ion-item>
    
    <!-- Exercises and number of Sets -->
    <ion-item-group *ngFor="let session of groupedSessions[i].exercises" class="pb-2">
      <ion-item [button]="true" detail="false" lines="none" class="mb-2">
        <ion-thumbnail slot="start" class="circle-thumb">
          <img [src]="'./assets/exercises/' + session.exerciseImage " alt="" />
        </ion-thumbnail>
        <ion-label>
            {{ session.numberOfSets }} Sets of {{ session.exerciseName }}
        </ion-label>
      </ion-item>
      <!-- <ion-grid class="text-sm px-0 mb-1" [fixed]="true">
        <ion-row>
          <ion-col *ngFor="let item of [1, 2, 3, 4]; let i = index">999kg x 99</ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-item-group>

  </ion-list>
</ion-content>
