.circle-thumb {
  width: 50px;
  height: 50px;
}

.circle-thumb img {
  border-radius: 50%;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

ion-col {
  // background-color: #135d54;
  border: solid 1px #414141;
  color: #dadada;
  text-align: center;
}

.filter-icon {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 30px;
  cursor: pointer;
}