<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list class="" *ngIf="((timings$ | async)?.length || 0) > 0; else noSessions">
    <ion-card class="p-3" *ngFor="let t of (timings$ | async)">
      <ion-label>
        <span class="text-white text-base">{{ t.method }}</span>
        <h3>{{ t.url }}</h3>
        <p class="flex gap-1 text-sm/7 text-medium items-center">
          <span [attr.class]="t.status == 200 ? 'text-green-500' : 'text-red-500'">{{ t.status }}</span> • <span class="text-white">{{ t.durationMs }} ms</span> • <span>{{ t.at | date:'shortTime' }}</span>
        </p>
      </ion-label>
    </ion-card>
  </ion-list>
  <ng-template #noSessions>
    <div class="ion-padding text-center">
        <p color="medium">No API Requests Found</p>
    </div>
  </ng-template>
</ion-content>