<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Replace Exercise</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">        

  <ion-searchbar [(ngModel)]="searchQuery" placeholder="Search exercises" debounce="200"></ion-searchbar>

  <ion-list *ngIf="exercises.length > 0; else loading">
    <ion-card *ngFor="let exercise of filteredExercises" class="mx-0 my-2">
      <ion-item lines="none" class="ion-activatable ripple-parent rounded-rectangle" (click)="confirm(exercise.Exercise_id)">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="flex items-center py-3">
          <ion-thumbnail slot="start" class="circle-thumb mr-3">
            <img [src]="'./assets/exercises/' + exercise.Exercise_image" alt="{{ exercise.Exercise_name }}"/>
          </ion-thumbnail>
          <ion-label class="">
            <h2>{{ exercise.Exercise_name }}</h2>
            <p>{{ exercise.muscleGroup }}</p>
          </ion-label>
        </div>
      </ion-item>
    </ion-card>
  </ion-list>

  <ng-template #loading>
    <div class="ion-padding text-center">
      <ion-spinner name="dots" class=""></ion-spinner>
    </div>
  </ng-template>

</ion-content>